/* Style sheet derived from SmartPhoneProducts3 with modifications */

/* Imaging */
img {
    max-width: 100%;
    height: auto;
    /* Gray border */
    border: 1px solid #ddd;
    /* Rounded border */
    border-radius: 5px;
    /* Some padding */
    padding: 5px;
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 5px 1px black;
}

/* Aesthetics */
#banner {
    /* Background */
    background-image: url("./images/banner.png");
}

body {
    /* Typography */  
        /* Center text */
        text-align: center;
        /* Set font */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
    /* Background */
    background: url("./images/background.png") ivory;
}

/* Block styling */ 
body >div {
    border: 5px double black;
    box-shadow: black;
    display: flex;
    justify-content: center; 
}

/* Button styling */
/* Modified from https://www.w3schools.com/css/css3_buttons.asp */
.button {
    background-color: #6c706c;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}