/* Style sheet derived from SmartPhoneProducts3 with modifications */

/* Aesthetics */
#invoice {
    background-color: #EBEBEB;
}

body {
    /* Typography */
        /* Set font */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
    /* Background */
    background: url("/images/background.png") ivory no-repeat center center fixed;
}

/* Button styling */
/* Modified from https://www.w3schools.com/css/css3_buttons.asp */
.button {
    background-color: #6c706c;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Navbar styling */
/* Modified from https://www.w3schools.com/howto/howto_css_navbar_icon.asp */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
        text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Right-aligned section inside the top navigation */
.navbar .topnav-right {
    float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}