/* Style sheet derived from SmartPhoneProducts3 with modifications */

/* Imaging */
img {
    max-width: 100%;
    height: auto;
    /* Gray border */
    border: 1px solid #ddd;
    /* Rounded border */
    border-radius: 5px;
    /* Set padding */
    padding: 5px;
    /* Set shadows */
    box-shadow: 0 0 5px 1px black;
}

/* Aesthetics */
#banner {
    /* Background */
    background-image: "./images/banner.png";
    background-color: turquoise;
    border: 5px transparent;
}

.item_display {
    /* Set padding */
    padding: 15px; 
}

.item_text {
    /* Set padding */
    padding: 25px;
    justify-content: center;
    background-image: linear-gradient(to bottom right, lightgrey, white);
    width: 1000px;
}

p {
    /* Set padding */
    padding-bottom: 15px;
}

body {
    /* Typography */  
        /* Center text */
        text-align: center;
        /* Set font */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
    /* Background */
    /* Image taken from https://www.pinterest.com/pin/726064771157954704/ */
    background: url("./images/background.png") ivory no-repeat center center fixed;
}

/* Block styling */ 
body >div {
    box-shadow: black;
    display: flex;
    justify-content: center; 
}

/* Button styling */
/* Modified from https://www.w3schools.com/css/css3_buttons.asp */
.button {
    background-color: #6c706c;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Navbar styling */
/* Modified from https://www.w3schools.com/howto/howto_css_navbar_icon.asp */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
        text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}